<div class="container">
  <h1 class="mt-5 mb-4">Book Details</h1>
  <div class="row">
    <div class="col-md-4">
      <img src="{{book.coverPhoto}}" alt="Book Cover" class="img-thumbnail" />
    </div>
    <div class="col-md-8">
      <h2>{{book.title}}</h2>
      <p>Author(s): {{book.authors}}</p>
      <p>Publish Date: {{book.publishedDate}}</p>
      <p>Category: {{book.categories}}</p>
      <p>Page Count: {{book.pageCount}}</p>
      <p>Description: {{book.description}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="my-4">
        <form id="bookshelf-form">
          <div class="form-row">
            <div class="col-12 mb-3">
              <label for="bookshelf-select">Select Bookshelf</label>
            </div>
            <div class="col-8 col-md-12 mb-3">
              <select class="form-control selectedBookshelf" id="bookshelf-select">
                <option value="">Choose a bookshelf</option>
                {{#each bookshelfNames}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
              </select>
            </div>
            <div class="col-4 col-md-12">
              <button type="submit" class="btn btn-primary btn-block">Add to Bookshelf</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>




<div>
  <form class="form-inline my-2 my-lg-0" id="form">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Message"
      aria-label="Search"
      id="message-input"
    />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Send</button>
  </form>
</div>
<div>
  <form class="form-inline my-2 my-lg-0">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Room"
      aria-label="Search"
      id="room-input"
    />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="room">Join</button>
  </form>
</div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/script.js"></script>
<script src="/js/bookpage.js"></script>
